/target
/Cargo.lock
.idea
.idea/*
data
data/*
exclude-file.txt
.DS_Store
benches/
ci.Dockerfile
push-remote.sh
tmp/
dist
dist/
sourceme.sh
*.swp
book/book
book/book/*
scripts
scripts/*
*.bak
artifacts
artifacts/